body{
    background-color: lightgray;
    font-family: Outfit;
}
.qr{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width: 375px;
    margin: auto;
    text-align: center;
}

    img{
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.qrdescription{
    color:  hsl(220, 15%, 55%);
    padding: 20px 30px 0 30px;
}
.qreattribute{
    color:hsl(218, 44%, 22%) ;
    padding: 0 30px 30px 30px;
}

.attribution{
text-align: center;
}